= link_to "Products list", products_path

%h1 Products


= form_for @product do |f|
  = f.label :model
  = f.text_field :model
  %br
  %br
  = f.label :manufacturer_id
  = f.collection_select :manufacturer_id, Manufacturer.all, :id, :name, :prompt => true
  %br
  %br
  = f.submit 
  
  
